html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section {
    display: block
}

html {
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px
}

@media only screen and (max-width: 840px) {
    html {
        font-size: 14px
    }
}

body {
    visibility: visible !important;
    opacity: 1 !important;
    font-family: YakuHanJP, neue-haas-grotesk-text, Koburina Gothic W3 JIS2004, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #28283C;
    background-color: #F5F5F5;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .1101em;
    min-width: 320px;
    text-align: left;
    font-variant-ligatures: none;
    font-feature-settings: "palt" 1;
    -webkit-font-feature-settings: "palt" 1;
    overflow-wrap: break-word
}

@media only screen and (max-width: 840px) {
    body {
        letter-spacing: .1190285714em
    }
}

ol,ul,ol li,ul li {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table,table tr,table tr th,table tr td {
    border-collapse: collapse;
    border-spacing: 0
}

p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl {
    clear: none
}

hr {
    margin: 0;
    padding: 0;
    border: none
}

img {
    overflow: hidden;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
    line-height: 1em;
    -ms-interpolation-mode: bicubic;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

a {
    color: #28283C;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}

a:hover {
    opacity: .7
}

a:focus {
    outline: auto
}

* {
    box-sizing: border-box
}

.l-all-wrapper.js-nav-sp--active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}

.l-left-wrapper {
    background-color: #fff;
    margin-right: 6.25vw;
    box-shadow: 10px -10px 40px -10px rgba(0,0,26,0.04)
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper {
        box-shadow: none;
        margin-right: 0
    }
}

.l-left-wrapper_inner {
    width: 75vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-left-wrapper_inner {
        width: auto;
        padding: 0 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper_inner {
        padding: 0
    }
}

.l-left-wrapper_inner-small {
    width: 62.5vw;
    margin: 0 auto 180px auto;
    padding: 88px 0 1px 0
}

@media only screen and (max-width: 1040px) {
    .l-left-wrapper_inner-small {
        width: auto;
        padding: 88px 4.85vw 1px 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper_inner-small {
        margin: 0 auto 30px auto;
        padding: 32px 7.2463768116vw 1px 7.2463768116vw
    }
}

.l-right-wrapper {
    background-color: #fff;
    margin-left: 6.25vw;
    box-shadow: 10px -10px 40px -10px rgba(0,0,26,0.04)
}

@media only screen and (max-width: 840px) {
    .l-right-wrapper {
        box-shadow: none;
        margin-left: 0
    }
}

.l-right-wrapper_inner {
    width: 75vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-right-wrapper_inner {
        width: auto;
        padding: 0 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-right-wrapper_inner {
        padding: 0
    }
}

.l-right-wrapper_inner-type2 {
    width: 62.5vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-right-wrapper_inner-type2 {
        width: auto;
        margin: 0 11.53vw
    }
}

@media only screen and (max-width: 840px) {
    .l-right-wrapper_inner-type2 {
        width: auto;
        margin: 0 7.24vw
    }
}

.l-left-wrapper-large {
    position: relative;
    z-index: 1;
    background-color: #fff;
    margin-right: 6.25vw;
    box-shadow: 10px -10px 40px -10px rgba(0,0,26,0.04)
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper-large {
        margin-right: 0;
        box-shadow: none
    }
}

.l-left-wrapper-large_inner {
    position: relative;
    background-color: #fff;
    margin-right: 4.6875vw;
    z-index: 2
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper-large_inner {
        margin-right: 0
    }
}

.l-left-wrapper-middle {
    position: relative;
    z-index: 2;
    background-color: #fff;
    margin-right: 6.25vw;
    box-shadow: 10px -10px 40px -10px rgba(0,0,26,0.04)
}

@media only screen and (max-width: 840px) {
    .l-left-wrapper-middle {
        margin-right: 0;
        box-shadow: none
    }
}

.l-general-middle-title {
    position: relative;
    padding-left: 3.04vw;
    margin-bottom: 80px
}

@media only screen and (max-width: 840px) {
    .l-general-middle-title {
        padding-left: 29px;
        margin-bottom: 60px
    }
}

.l-general-middle-title_text {
    font-size: 2.25rem;
    line-height: 1.72;
    letter-spacing: .0753777778em;
    color: #00001a;
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em)
}

@media only screen and (max-width: 1040px) {
    .l-general-middle-title_text {
        font-size: calc((100vw - 415px) / 627 * 12 + 24px)
    }
}

@media only screen and (max-width: 840px) {
    .l-general-middle-title_text {
        line-height: 1.33;
        -webkit-transform: translateY(-0.2em);
        transform: translateY(-0.2em)
    }
}

@media only screen and (max-width: 414px) {
    .l-general-middle-title_text {
        font-size: calc(10px + 3.3816425121vw);
        letter-spacing: .0684333333em
    }
}

.l-general-middle-title_text-en {
    display: block;
    font-size: .75rem;
    line-height: 1;
    letter-spacing: normal;
    margin-top: -2px;
    color: #28283c
}

@media only screen and (max-width: 1040px) {
    .l-general-middle-title_text-en {
        font-size: calc((100vw - 415px) / 627 * 1 + 11px)
    }
}

@media only screen and (max-width: 840px) {
    .l-general-middle-title_text-en {
        margin-top: 18px
    }
}

@media only screen and (max-width: 414px) {
    .l-general-middle-title_text-en {
        font-size: calc(10px + .2415458937vw)
    }
}

.l-mainvisual {
    position: static;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 180px
}

@media only screen and (max-width: 840px) {
    .l-mainvisual {
        padding-top: 121px
    }
}

.l-mainvisual_inner {
    width: 81.25vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual_inner {
        width: auto;
        margin-left: 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual_inner {
        margin: 0 7.24vw
    }
}

.l-mainvisual_title {
    font-size: 2.25rem;
    color: #00001A;
    position: relative;
    display: block;
    padding-left: 39px;
    letter-spacing: .0753777778em;
    line-height: 1
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual_title {
        font-size: calc((100vw - 415px) / 627 * 12 + 24px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual_title {
        line-height: 1.3333333333;
        padding-left: 30px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual_title {
        font-size: calc(10px + 3.3816425121vw);
        letter-spacing: .0684333333em
    }
}

.l-mainvisual_title-en {
    display: block;
    font-size: .75rem;
    margin-top: 14px;
    color: #28283C
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual_title-en {
        font-size: calc((100vw - 415px) / 627 * 1 + 11px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual_title-en {
        margin-top: 18px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual_title-en {
        font-size: calc(10px + .2415458937vw)
    }
}

.l-mainvisual-archive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 180px
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-archive {
        height: 198px;
        padding-top: 100px
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-archive--adj {
        padding-top: 116px
    }
}

.l-mainvisual-archive_inner {
    width: 81.25vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-archive_inner {
        width: auto;
        margin-left: 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-archive_inner {
        margin: 0 7.24vw
    }
}

.l-mainvisual-archive_title {
    font-size: 2.25rem;
    color: #00001A;
    position: relative;
    display: block;
    padding-left: 39px;
    letter-spacing: .0753777778em;
    line-height: 1
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-archive_title {
        font-size: calc((100vw - 415px) / 627 * 8 + 28px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-archive_title {
        padding-left: 19px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual-archive_title {
        font-size: calc(10px + 4.347826087vw);
        letter-spacing: .0833142857em
    }
}

.l-mainvisual-archive_title-en {
    display: block;
    font-size: .75rem;
    margin-top: 14px;
    color: #28283C
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-archive_title-en {
        font-size: calc((100vw - 415px) / 627 * 1 + 11px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-archive_title-en {
        margin-top: 18px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual-archive_title-en {
        font-size: calc(10px + .2415458937vw)
    }
}

.l-mainvisual-other {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 232px
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-other {
        height: 260px;
        padding-top: 162px
    }
}

.l-mainvisual-other_inner {
    width: 81.25vw;
    margin: 0 auto
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-other_inner {
        width: auto;
        margin-left: 4.85vw
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-other_inner {
        margin: 0 7.24vw
    }
}

.l-mainvisual-other_title {
    font-size: 2.25rem;
    color: #00001A;
    position: relative;
    display: block;
    padding-left: 39px;
    letter-spacing: .0753777778em;
    line-height: 1
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-other_title {
        font-size: calc((100vw - 415px) / 627 * 8 + 28px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-other_title {
        padding-left: 19px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual-other_title {
        font-size: calc(10px + 4.347826087vw);
        letter-spacing: .0833142857em
    }
}

.l-mainvisual-other_title-en {
    display: block;
    font-size: .75rem;
    margin-top: 14px;
    color: #28283C
}

@media only screen and (max-width: 1040px) {
    .l-mainvisual-other_title-en {
        font-size: calc((100vw - 415px) / 627 * 1 + 11px)
    }
}

@media only screen and (max-width: 840px) {
    .l-mainvisual-other_title-en {
        margin-top: 18px
    }
}

@media only screen and (max-width: 414px) {
    .l-mainvisual-other_title-en {
        font-size: calc(10px + .2415458937vw)
    }
}

.l-mainvisual-other-white {
    color: #fff
}

.l-mainvisual-other-white .l-mainvisual-other_title-en {
    color: #fff
}

.l-contents {
    padding-top: 46px
}

@media only screen and (max-width: 840px) {
    .l-contents {
        padding-top: 34px
    }
}

.l-contents-archive {
    position: relative;
    padding-top: 288px
}

@media only screen and (max-width: 840px) {
    .l-contents-archive {
        padding-top: 198px
    }
}

.l-contents-archive--adj {
    padding-top: 292px
}

@media only screen and (max-width: 840px) {
    .l-contents-archive--adj {
        padding-top: 214px
    }
}

.l-contents-other {
    position: relative;
    padding-top: 370px
}

@media only screen and (max-width: 840px) {
    .l-contents-other {
        padding-top: 260px
    }
}

.l-all-wrapper {
    position: relative;
    overflow: hidden
}

.l-all-wrapper:before {
    content: "";
    position: fixed;
    top: -10px;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2000
}

.js-loaded .l-all-wrapper:before {
    display: none
}